<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Parametri -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>omega</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.WEBAPP_RESOURCES_DIRECTORY</param-name>
        <param-value>/WEB-INF/resources</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.numberOfViewsInSession</param-name>
        <param-value>10</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.numberOfLogicalViews</param-name>
        <param-value>10</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.enableViewStateIdRendering</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>ro.any.c12153.AAD_AUTHORIZE_END_POINT</param-name>
        <param-value>https://login.microsoftonline.com/any/oauth2/v2.0/authorize</param-value>
    </context-param>
    <context-param>
        <param-name>ro.any.c12153.PARENT_AAD_CLIENT_ID</param-name>
        <param-value>removed</param-value>
    </context-param>
    <context-param>
        <param-name>ro.any.c12153.CHILD_AAD_CLIENT_ID</param-name>
        <param-value>removed</param-value>
    </context-param>
    <context-param>
        <param-name>ro.any.c12153.AAD_REDIRECT_URI</param-name>
        <param-value>/auth</param-value>
    </context-param>
    <context-param>
        <param-name>ro.any.c12153.AAD_ISSUER</param-name>
        <param-value>https://login.microsoftonline.com/any/v2.0</param-value>
    </context-param>
    <context-param>
        <param-name>ro.any.c12153.DEFAULT_PHRASE</param-name>
        <param-value>removed(encrypted)</param-value>
    </context-param>
    <context-param>
        <param-name>ro.any.c12153.AAD_PUBLIC_KEYS</param-name>
        <param-value>https://login.microsoftonline.com/any/discovery/v2.0/keys</param-value>
    </context-param>
    <context-param>
        <param-name>ro.any.c12153.PORTAL_HOME_PAGE</param-name>
        <param-value>https://anyro-df.azurewebsites.net</param-value>
    </context-param>
    <!-- Servlets -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <!-- user session -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- welcome file -->
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <!-- error pages -->
    <error-page>
        <error-code>401</error-code>
        <location>/elogin.xhtml</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/e403.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/e404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/e500.xhtml</location>
    </error-page>
    <error-page>
        <error-code>511</error-code>
        <location>/e511.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/e510.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.IllegalStateException</exception-type>
        <location>/e500.xhtml</location>
    </error-page>
    <!-- mime mapping -->
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>otf</extension>
        <mime-type>font/opentype</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/x-font-ttf</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/x-font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/x-font-woff2</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xlsx</extension>
        <mime-type>application/msexcel</mime-type>
    </mime-mapping>
    <security-constraint>
        <display-name>default</display-name>
        <web-resource-collection>
            <web-resource-name>start_page</web-resource-name>
            <description/>
            <url-pattern>/index.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>pass_change</web-resource-name>
            <description/>
            <url-pattern>/pass.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>oxpl_controller</role-name>
            <role-name>oxpl_cost_center_manager</role-name>
            <role-name>oxpl_cost_driver_manager</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>user_admin</display-name>
        <web-resource-collection>
            <web-resource-name>user_Admin</web-resource-name>
            <description/>
            <url-pattern>/uadmin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>oxpl_controller</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>master_data</display-name>
        <web-resource-collection>
            <web-resource-name>master_data</web-resource-name>
            <description/>
            <url-pattern>/md/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>oxpl_controller</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>records</display-name>
        <web-resource-collection>
            <web-resource-name>records</web-resource-name>
            <description/>
            <url-pattern>/recs/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>api_model</web-resource-name>
            <description/>
            <url-pattern>/api/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>oxpl_controller</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>chei_gen</display-name>
        <web-resource-collection>
            <web-resource-name>key_gen</web-resource-name>
            <description/>
            <url-pattern>/key/gen/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>key_rap</web-resource-name>
            <description/>
            <url-pattern>/key/rap/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>key_tip</web-resource-name>
            <description/>
            <url-pattern>/key/tip/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>oxpl_controller</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ccenter_responsible</display-name>
        <web-resource-collection>
            <web-resource-name>key_specific</web-resource-name>
            <description/>
            <url-pattern>/key/s01/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>plan_ccenter</web-resource-name>
            <description/>
            <url-pattern>/plan/ccenter/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>rap_ccenter</web-resource-name>
            <description/>
            <url-pattern>/raps/ccenter/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>oxpl_controller</role-name>
            <role-name>oxpl_cost_center_manager</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>cdriver_responsible</display-name>
        <web-resource-collection>
            <web-resource-name>plan_cdriver</web-resource-name>
            <description/>
            <url-pattern>/plan/cdriver/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>rap_cdriver</web-resource-name>
            <description/>
            <url-pattern>/raps/cdriver/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>oxpl_controller</role-name>
            <role-name>oxpl_cost_driver_manager</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>finsys1-realm</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/elogin.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>oxpl_controller</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>oxpl_cost_center_manager</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>oxpl_cost_driver_manager</role-name>
    </security-role>
</web-app>
